html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn--btn {
    min-width: 100px;
    text-align: center;
    display: inline-block;
    background: #fff;
    color: #ff0000;
    border: 3px solid #fff;
    padding: 8px 30px;
    margin: 5px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn--btn:hover {
    color: white;
    border: 3px solid #e90000;
    background-image: linear-gradient(160deg, #e90000 0%, #d08080 100%);
    transition: ease 0.5s;
}

.title-gradient {
    font-size: 26px;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}