@model ShoppingCart
@{
	ViewData["Title"] = "_ShoppingCartPartial";
	//Layout = "~/Views/Shared/_Layout.cshtml";

	decimal totalPrice = 0;

}

<div class="cart-dropdown">
	<div class="cart-list">

		@if (Model.Items.Count == 0)
		{
			<h2> Bạn chưa thêm sản phẩm nào</h2>
		}
		else
		{
			@foreach (var item in Model.Items)
			{
				totalPrice += item.Price * item.Quantity;


				<div class="product-widget">
					<div class="product-img">
						<img src="@item.ImageUrl" alt="">
					</div>
					<div class="product-body">
						<h3 class="product-name"><a href="#">@item.Name</a></h3>
						<h4 class="product-price"><span class="qty">1x</span>$ @item.Price</h4>
					</div>
					<button class="delete"><i class="fa fa-close"></i></button>
				</div>
			}
		}

		@* <div class="product-widget">
		<div class="product-img">
		<img src="~/img/product01.png" alt="">
		</div>
		<div class="product-body">
		<h3 class="product-name"><a href="#">product name goes here</a></h3>
		<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
		</div>
		<button class="delete"><i class="fa fa-close"></i></button>
		</div>

		<div class="product-widget">
		<div class="product-img">
		<img src="~/img/product02.png" alt="">
		</div>
		<div class="product-body">
		<h3 class="product-name"><a href="#">product name goes here</a></h3>
		<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
		</div>
		<button class="delete"><i class="fa fa-close"></i></button>
		</div>   *@
	</div>




	<div class="cart-summary">
		<small>@Model.Items.Count Item(s) selected</small>
		<h5>SUBTOTAL: $@totalPrice</h5>
	</div>
	<div class="cart-btns">
		<a aria-expanded="true" style="color:white;" asp-controller="ShoppingCart" asp-action="Index">
			View Cart
		</a>
		<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
	</div>
</div>


