﻿@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // Func f = new Func();
    // var inv = (invoices)ViewData["invoice"];
    // var listProducts = (List<invoice_details>)ViewData["listProducts"];
    // var listINVS = (List<invoice_status>)ViewData["listINVS"];
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="bg-inner cart-section order-details-table invoice-print-area">
                    <div class="row g-4">
                        <div class="col-xl-8">
                            <div class="table-responsive table-details">
                                <table class="table cart-table table-borderless">
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Giá</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>

                                    <tfoot>
                                        <tr class="table-order">
                                            <td colspan="3">
                                                <h5>Tổng cộng </h5>
                                            </td>
                                            <td>
                                                <h4>$55.00</h4>
                                            </td>
                                        </tr>
                                        <tr class="table-order">
                                            <td colspan="3">
                                                <h5>Shipping :</h5>
                                            </td>
                                            <td>
                                                <h4>$12.00</h4>
                                            </td>
                                        </tr>
                                        <tr class="table-order">
                                            <td colspan="3">
                                                <h5>Tax(GST) :</h5>
                                            </td>
                                            <td>
                                                <h4>$10.00</h4>
                                            </td>
                                        </tr>
                                        <tr class="table-order">
                                            <td colspan="4">
                                                <h4 class="theme-color fw-bold">Tổng cộng:</h4>
                                            </td>
                                            <td>
                                                <h4 class="theme-color fw-bold">123.123đ</h4>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="col-xl-4">
                            <div class="order-success">
                                <div class="row g-4">
                                    <h4>Thông tin</h4>
                                    <ul class="order-details">
                                        <li>mã đơn: 0101</li>
                                        <li>Ngày đặt: 12/12</li>
                                        @*<li>Order Total: $907.28</li>*@
                                    </ul>

                                    <h4>Người nhận</h4>
                                    <ul class="order-details">
                                        <li>ABC</li>
                                        <li>0777</li>
                                        <li>a@a.com</li>
                                        <li>abc, def</li>
                                    </ul>

                                    @* <h4>Trạng thái đơn hàng</h4>
                                    <ul class="order-details">
                                    <li>PENDING</li>
                                    </ul> *@

                                    <div class="payment-mode">
                                        <h4>Phương thức thanh toán</h4>
                                        @if (0 == 0)
                                        {
                                            <p>Thanh toán khi nhận hàng (COD)</p>
                                        }
                                        else
                                        {
                                            <p>Thanh toán trực tuyến (VN PAY)</p>
                                        }
                                    </div>

                                    <div class="delivery-sec">
                                        @*<h3>
                                        expected date of delivery: <span>october 22, 2018</span>
                                        </h3>*@
                                        <a href="javascript:" onclick="w=window.open('@Url.Action("Print", new { invoice_id = 1111 })'); w.print();">In hoá đơn</a>
                                    </div>
                                    @* <div class="delivery-sec">
                                    <h3>Đổi trạng thái đơn hàng</h3>
                                    @foreach (var item in listINVS)
                                    {
                                    if (item.invoice_status_id != inv.invoice_status_id)
                                    {
                                    <a href="@Url.Action("Update", new { invoice_id = inv.invoice_id, invoice_status_id = item.invoice_status_id })">@item.invoice_status_name</a>
                                    }
                                    }
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- section end -->
            </div>
        </div>
    </div>
</div>