
@{
    decimal Total = 0;

}
<style>
    .sucess-section {
        min-height: 800px;
        margin: auto;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        overflow: auto;
        background-image: url(https://images.unsplash.com/photo-1562581870-5b61efe35190?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        animation: gradient 15s ease infinite;
        background-size: 150% 150%;
        /*   background-attachment: fixed; */
    }
    .cart--container {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        flex-flow: column;
        align-items: center;
    }
    .cart--container:first-child {
        width: 300px;
    }

    .cart--container .item--cart {
        /* align-self: flex-end */
        margin: 0px 0 50px 90px;
    }
    .title-gradient-h {
        font-size: 26px;
        text-transform: uppercase;
        background-color: #de0004;
        background-image: linear-gradient(90deg, #f00 0%, #122125 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .title-gradient
    }

    .title-gradient {
        font-size: 26px;
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @@keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    img {
        border-radius: 50%;
    }
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href=" /home">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Product">All Product</a></li>
                    <li><a asp-action="Index" asp-controller="ShoppingCart">Order</a></li>
                    <li><a asp-action="Checkout" asp-controller="ShoppingCart">Check out</a></li>
                    <li><a class="active" asp-action="Index" asp-controller="ShoppingCart">Ourder Sucess</a></li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

@* body *@
<section class="sucess-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2 style="margin: 20px 0 30px; color:white" >Sucessful Order</h2>

            </div>
   
	       
            <div class="cart--container">
                <h2 style="color:white">@TempData["MessageSucess"]</h2>
               
                <pre style="max-width: 900px" class="title-gradient"> Mã đơn hàng: @TempData["OrderId"]  đã thanh toán thành công  </pre>
                <p class="title-gradient"><strong>Vui lòng enjoy ngày mới của bạn và chờ đơn hàng được giao tới nhé ^^</strong></p>
                <img src="https://png.pngtree.com/png-clipart/20230926/original/pngtree-online-payment-using-smartphone-app-successful-transfer-technology-transfer-purchase-vector-png-image_12880289.png" width="auto" height="300px" />
                <div class="item--cart">
                    <a asp-action="Index" asp-controller="product">
                        <button class="btn-action" style="margin: 50px 0 50px -90px">
                            <i class="fa-solid fa-arrow-left"></i>
                            Tiếp tục mua hàng
                        </button>
                    </a>
                </div>

            </div>
          
            @* <div class="col-md-5 order-details" style="margin-top: 86px;">
                <div class="section-title text-center">
                    <h3 class="title-gradient">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>SUB TOTAL</strong></div>
                    </div>
                    @foreach (var item in ViewBag.CartOrder)
                    {
                        decimal subtotal = (int)item.Quantity * item.Price;
                        Total += subtotal;
                        <div class="order-products">


                            <div class="order-col">
                                <div>x1 @item.Name</div>
                                <div>$@subtotal</div>
                            </div>


                        </div>
                    }
                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total">$@Total</strong></div>
                    </div>
                </div>
            </div> *@
</section>