@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // var listCustomers = (List<users>)ViewData["listCustomers"];
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="table-responsive table-desi">
                        <table class="user-table table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- table view o day -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*<div class="pagination-box">
            <nav class="ms-auto me-auto " aria-label="...">
            <ul class="pagination pagination-primary">
            <li class="page-item disabled">
            <a class="page-link" href="javascript:void(0)">Previous</a>
            </li>
            <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">1 </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="javascript:void(0)">2</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="javascript:void(0)">3</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="javascript:void(0)">Next</a>
            </li>
            </ul>
            </nav>
            </div>*@
        </div>
    </div>
</div>