
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    // var r = (reports)ViewData["report"];
}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="pills-tabContent">
                            <form class="theme-form theme-form-2 mega-form">
                                <div class="row">
                                    <div class="mb-3 row align-items-center">
                                        <label class="form-label-title col-lg-2 col-md-3 mb-0">No.</label>
                                        <div class="col-md-9 col-lg-10">
                                            <input class="form-control" type="text" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label class="form-label-title col-lg-2 col-md-3 mb-0">Họ tên</label>
                                        <div class="col-md-9 col-lg-10">
                                            <input class="form-control" type="text" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label class="form-label-title col-lg-2 col-md-3 mb-0">Email</label>
                                        <div class="col-md-9 col-lg-10">
                                            <input class="form-control" type="text" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="mb-3 row align-items-center">
                                        <label class="form-label-title col-lg-2 col-md-3 mb-0">Ngày tạo</label>
                                        <div class="col-md-9 col-lg-10">
                                            <input class="form-control" type="text" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="form-label-title col-sm-2 mb-0">Nội dung</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="20" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>